
body {
    background: #2e3a6a;
    width: 400px;
    height: 400px;
    padding: 0;
    transition-property: height;
    transition-duration: 2s;
}

#wrapped {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: black;
    opacity: 0.4;
    z-index: 1000;
}

    #wrapped img {
        position: absolute;
        top: 39%;
        left: 150px;
        width: 100px;
        height: auto;
    }

.form-group .my-but {
    margin: 5px 0 0 0;
}

.forgot-pass-section {
    padding: 20px 20px;
    color: #afafbf;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
.main {
    /*background: #200122;
    background: -webkit-linear-gradient(to bottom, #2e3a6a,#2f0b45);
    background: linear-gradient(to bottom, #2e3a6a,#2f0b45);
   */
    /*background: linear-gradient(#2e3a6a,#2f0b45);*/
    background: #200122;
    background: linear-gradient(to bottom, #6f0000, #200122);
    background: linear-gradient(#2e3a6a,#2f0b45);
    width: 400px;
    height: 200px;
    /*padding: 0;*/
}
    .main:before {
        /*content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;*/
        /*background: linear-gradient(#2e3a6a,#2f0b45);
        opacity: 0.85;*/
    }
.setting {
    background: #200122;
    width: 400px;
    height: 300px;
}

#add-section {
    display: none;
    height: 400px;
    background: linear-gradient(#2e3a6a,#2f0b45);
}

.preloader {
    position: absolute;
    z-index: 1000;
    display: none;
}

.theme {
    width: 400px;
    height: 200px;
}

.container-no-padding {
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 20px;
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

.tab {
    background: #200122;
    background: -webkit-linear-gradient(to bottom, #6f0000, #200122);
    background: linear-gradient(to bottom, #6f0000, #200122);
    padding: 40px 50px;
    position: relative;
}

    .tab:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(#2e3a6a,#2f0b45);
        opacity: 0.85;
    }

    .tab .nav-tabs {
        border-bottom: none;
        padding: 0 20px;
        position: relative;
    }

        .tab .nav-tabs li {
            margin: 0 30px 0 0;
        }

            .tab .nav-tabs li a {
                font-size: 18px;
                color: #fff;
                border-radius: 0;
                text-transform: uppercase;
                background: transparent;
                padding: 0;
                margin-right: 0;
                border: none;
                border-bottom: 2px solid transparent;
                opacity: 0.5;
                position: relative;
                transition: all 0.5s ease 0s;
            }
            .tab .nav-tabs p.sett {
                font-size: 18px;
                font-weight : bold;
                color: white;
                /*border-radius: 0;*/
                text-transform: uppercase;
                background: transparent;
                padding: 0;
                margin-right: 0;
                border: none;
                border-bottom: 2px solid transparent;
                /*opacity: 0.5;*/
                /*position: relative;
                transition: all 0.5s ease 0s;*/
                text-align: center;
            }

                .tab .nav-tabs li a:hover {
                    background: transparent;
                }

            .tab .nav-tabs li.active a,
            .tab .nav-tabs li.active a:focus,
            .tab .nav-tabs li.active a:hover {
                border: none;
                background: transparent;
                opacity: 1;
                border-bottom: 2px solid #eec111;
                color: #fff;
            }

    .tab .tab-content {
        padding: 10px 0 0 0;
        margin-top: 30px;
        background: transparent;
        z-index: 1;
        position: relative;
    }

.form-bg {
    background: #ddd;
}

.form-group {
    margin: 0 0 15px 0;
    position: relative;
}

.form-control {
    height: 40px;
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.form-horizontal select {
    height: 40px;
    width:130px;
    /*background: rgba(255,255,255,0.2);*/
    border: none;
    /*border-radius: 20px;*/
    box-shadow: none;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    /*color: #fff;*/
    transition: all 0.3s ease 0s;
    position :absolute;
    right : 0px;
}

.form-control:focus {
    box-shadow: none;
    outline: 0 none;
}

.form-horizontal select:focus {
    box-shadow: none;
    outline: 0 none;
    /*border-radius: 20px 20px 0 0;*/
    
}

.form-group label {
    padding: 0 20px;
    color: white;
    /*text-transform: capitalize;*/
    margin-bottom: 10px;
    font-size: 16px;
}

.form-horizontal .main-checkbox {
    width: 20px;
    height: 20px;
    background: #eec111;
    float: left;
    margin: 5px 0 0 20px;
    border: 1px solid #eec111;
    position: relative;
}

    .form-horizontal .main-checkbox label {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

        .form-horizontal .main-checkbox label:after {
            content: "";
            width: 10px;
            height: 5px;
            position: absolute;
            top: 5px;
            left: 4px;
            border: 3px solid #fff;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    .form-horizontal .main-checkbox input[type=checkbox] {
        visibility: hidden;
    }

        .form-horizontal .main-checkbox input[type=checkbox]:checked + label:after {
            opacity: 1;
        }

.text {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-left: 7px;
    margin-bottom: 15px;
    line-height: 20px;
    padding-top: 5px;
    /*text-transform: capitalize;*/
}

.btn {
    width: 100%;
    background: #eec111;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}

    .btn:focus {
        background: #eec111;
        color: #fff;
        outline: none;
        box-shadow: none;
    }

.forgot-pass {
    border-top: 1px solid #615f6c;
    margin: 0;
    text-align: center;
}

.form-horizontal .forgot-pass .btn {
    width: auto;
    background: transparent;
    margin: 30px 0 0 0;
    /*color: #615f6c;*/
    color: white;
    /*text-transform: capitalize;*/
    transition: all 0.3s ease 0s;
}

    .form-horizontal .forgot-pass .btn:hover {
        color: #eec111;
    }
/*.textimage {
    /*display: inline-block;
    position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}*/
.text_prim {
    display: flex;
    align-items: center;
    justify-content: center;
    /*display: inline-block;*/
    /*position: absolute;*/
    /*left: 0;
        bottom: 0;*/
    /*box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;*/
    color: #fff;
    /*padding: 10px;*/
    /*background-color: rgba(0,0,0,.3);*/
    text-align: center;
    width: 100%;
    height: 32%;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 0px;
    /*color: #FFF;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 20px;*/
    /*background-color: rgba(0,0,0,.4);*/
    padding: 10px 30px;
}

.setLogo {
    /*display: flex;*/
    /*align-items: center;
        justify-content: center;*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*left: 0;
        bottom: 0;*/
    /*box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;*/
    /*color: #fff;*/
    /*padding: 10px;*/
    /*background-color: rgba(0,0,0,.3);*/
    /*text-align: center;*/
    /*width: 100%;
        height: 32%;*/
    display: inline-block;
    position: absolute;
    text-transform: uppercase;
    top: 0%;
    /*left: 77%;*/
    right: 0px;
    /*right : 1%;*/
    /*color: #FFF;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        background-color: rgba(0,0,0,.4);*/
    padding: 10px 10px;
}

.yesno {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    margin-right: 0;
    border-bottom: 2px solid transparent;
    border: none;
    transition: all 0.5s ease 0s;
    margin: 0 30px 0 0;
    position: absolute;
    /*align-items: center;
        justify-content: center;*/
    text-align: center;
    bottom: 0px;
    color: white;
    /*padding:3px;*/
    width: 100%;
}
/*a:hover {
    background: #786b59; 
    color: #ffe; 
}*/
#yes:focus, #yes:hover {
    color: #eec111; /* Цвет ссылки */
    cursor : pointer;
}

#yes {
    color: white;
    margin: 10px;
}

    #no:focus, #no:hover {
        color: #eec111; /* Цвет ссылки */
        cursor: pointer;
    }

#no {
    color: white;
    margin: 10px;
}
.selectbox {
    
    color: black;
}
.form-group select {
    margin-right: 30px;
}
.set {
    /*border: none;
    background: transparent;
    opacity: 1;
    border-bottom: 2px solid #eec111;
    color: white;*/
    font-size: 18px;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    background: transparent;
    padding: 0;
    margin-right: 0;
    border: none;
    /* border-bottom: 2px solid transparent; */
    /* opacity: 0.5; */
    position: relative;
    transition: all 0.5s ease 0s;
}
h3 {
    justify-content: center;
    /*top: 30%;*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0 auto;
}

span {
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
.text_prim label {
    justify-content: center;
    /*top: 30%;*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0 auto;
}
.transl_transc {
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
.word {
    justify-content: center;
    text-align: center;
    font-size: 30px;
}
@media only screen and (max-width: 479px) {
    .tab {
        padding: 40px 20px;
    }
}
