<div class="userInfo" style="display:none;">
    <p>Вы вошли как: <span class="userName"></span></p>
    <input type="button" value="Выйти" id="logOut" />
    <input type="submit" id="getItemsButton" value="Получить данные" />
</div>
<div class="loginForm">
    <h3>Вход на сайт</h3>
    <label>Введите email</label><br />
    <input type="email" id="emailLogin" /> <br /><br />
    <label>Введите пароль</label><br />
    <input type="password" id="passwordLogin" /><br /><br />
    <input type="submit" id="submitLogin" value="Логин" />
</div>
<div>
    <label>Введите email</label><br />
    <input type="email" id="email" /> <br /><br />
    <label>Введите пароль</label><br />
    <input type="password" id="password" /><br /><br />
    <label>Подтвердите пароль</label><br />
    <input type="password" id="confirmpassword" /><br /><br />
    <input type="submit" id="submit" value="Регистрация" />
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#but-Sign-Up').click(function (e) {
                e.preventDefault();
                var data = {
                    Email: $('#inputEmail').val(),
                    Password: $('#inputPassword').val(),
                    ConfirmPassword: $('#inputPasswordConfirmation').val()
                };

                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:54049/api/Account/Register/',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (data) {
                        alert("Всё норм");

                    },
                    fail: function (data) {
                        alert("В процесе регистрации возникла ошибка");
                    }
                });
            });
            var tokenKey = "tokenInfo";

            $('#but-Sign-In').click(function (e) {
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#emailLogin').val(),
                    password: $('#passwordLogin').val()
                };

                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:54049/Token',
                    data: loginData,
                    success: function (data) {
                        sessionStorage.setItem(tokenKey, data.access_token);
                        alert('Всё ок');
                        document.location.href = "main.html"
                    },
                    fail: function (data) {
                        alert('При логине возникла ошибка');
                    }
                });
            });

            $('#forgot-pass').click(function () {
                $("#main-section").fadeOut('slow');
                $("#add-section").fadeIn('slow');
            });
            /////////////////////////////////////дальше код, который пока не подключён
            $('#logOut').click(function (e) {
                e.preventDefault();
                sessionStorage.removeItem(tokenKey);
            });

            //$('#getItemsButton').click(function (e) {
            //    e.preventDefault();
            //    $.ajax({
            //        type: 'GET',
            //        url: 'http://localhost:54049/api/values/',
            //        //     datatype: 'jsonp',
            //        beforeSend: function (xhr) {
            //            var token = sessionStorage.getItem(tokenKey);
            //            console.log(token);
            //            xhr.setRequestHeader("Authorization", "Bearer " + token);
            //        },
            //        success: function (data) {
            //            alert(data);
            //        },
            //        error: function (jqXHR, textStatus, errorThrown) {
            //            alert(jqXHR.responseText || textStatus);
            //        }
            //    });
            //});
        })
    </script>
}