<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="../../Scripts/jquery-3.2.1.js"></script>
    <script src="../../Scripts/popup.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/extantion.css" rel="stylesheet" />
    <title>chrome-extension://idmkbfegdginpeohickgddcmannkbdjk</title>
</head>
<body class="main">
  <!--<div class="textimage">-->
     <!--<img src="../../img/room2.jpg">-->
     <div class="setLogo"><a id="yesno" href="themofday.html">Тема дня</a><a href="settings.html"><img src="../../img/set.ico"></a></div>
    
     <div class="text_prim">
       <h3>Слово</h3>
       <span>транскрипция-перевод</span>
      </div>
      <div class="yesno">
          <a id="yesno">Запомнил   </a> <a>   </a> <a id="yesno">Не запомнил</a>
      </div>
   <!--</div>-->
</body>
</html>